<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Registro usúario</h2>
            <mat-error *ngIf="registroInvalid">
                The username and password were not recognised
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Login" formControlName="login" required>

            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Senha" formControlName="senha" required>

            </mat-form-field>
            <button mat-raised-button  color="primary">Cadastrar</button>&nbsp;
            <button mat-raised-button [routerLink]="['/login']" >Voltar</button>
        </form>
    </mat-card-content>
</mat-card>