<h1 mat-dialog-title>Informações do produtos cadastrado </h1>
<div mat-dialog-content>
  <div class="example-full-width">
    <div style="overflow-x: auto; margin: 15px">
        <table>
          <tr>
            <th>Data importação</th>
            <th>Quantidade</th>
            <th>Data de entrega</th>
            <th>Total</th>
          </tr>
          <tbody *ngIf="data.length">
            <tr *ngFor="let prod of data">
              <td>{{ prod.dataImportacao }}</td>
              <td>{{ prod.quantidade }}</td>
              <td>{{ prod.dataEntrega }}</td>
              <td>{{ prod.total }}</td>
            </tr>
          </tbody>
          <tfoot *ngIf="!data.length">
            <tr>
              <td colspan="5" style="text-align: center">
                Não possuem produtos cadastrados
              </td>
            </tr>
          </tfoot>
        </table>
      </div> 
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
</div>