
<mat-toolbar color="primary" style="margin-bottom: 25px;">
    <mat-toolbar-row style="font-size:1.5rem; height: 80px;">
        <span> Cadastromi <mat-icon>shop</mat-icon></span>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="Logout()"><mat-icon>login</mat-icon> Sair</button>&nbsp;

        <button mat-raised-button (click)="addProdutos()"><mat-icon>add</mat-icon> Importar</button>
    </mat-toolbar-row>
</mat-toolbar>