<h1 mat-dialog-title>Realizar importação via excel</h1>
<div mat-dialog-content>
  <div class="example-full-width">
    <mat-label>Baixar modelo</mat-label>
    <a href="https://localhost:44397/modelos/Teste_de_Admiss%C3%A3o.xlsx" target="_blank" rel="modelo excel"
      ><mat-icon>file_copy</mat-icon></a
    >
  </div>
  <div class="example-full-width">
    <mat-label>Informe o anexo</mat-label>
    <input type="file" (change)="onSelectFile($event)" />
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="importar()">
    Importar
  </button>
</div>
