<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Login</h2>
            <mat-error *ngIf="loginInvalid">
                The username and password were not recognised
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Login" formControlName="username" required>

            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Senha" formControlName="password" required>
    
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>&nbsp;
            <button mat-raised-button [routerLink]="['/registro']" color="info">Registro</button>
        </form>
    </mat-card-content>
</mat-card>