<app-header></app-header>

<div style="overflow-x: auto; margin: 15px">
  <table *ngIf="!load">
    <tr>
      <th>Data importação</th>
      <th>Quantidade</th>
      <th>Data de entrega</th>
      <th>Total</th>
      <th>Visualizar</th>
    </tr>
    <tbody *ngIf="listaProdutos.length">
      <tr *ngFor="let prod of listaProdutos">
        <td>{{ prod.dataImportacao }}</td>
        <td>{{ prod.quantidade }}</td>
        <td>{{ prod.dataEntrega }}</td>
        <td>{{ prod.total }}</td>
        <td style="text-align: center">
          <button mat-raised-button (click)="detalherProdutos(prod.id)">
            <mat-icon>android</mat-icon> Detalhes
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!listaProdutos.length">
      <tr>
        <td colspan="5" style="text-align: center">
          Não possuem produtos cadastrados
        </td>
      </tr>
    </tfoot>
  </table>
</div>
